body{
    background-color: rgb(64, 0, 255);
}

h1{
    color: gold;
}

#container {
    text-align: center;
    margin-top: 50px;
}

#memeImage {
    width: 300px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #be2020;
    border-radius: 10px;
}
